@import '../../styles/variables';

.leftSidbar{
    background-color: $leftSidbarBackgroundColor;
    color: white;
    height: 100vh;
    .leftSidbar_header{
        height: 6vh;
        display: flex;
        align-items: center;
        padding: 5px 5px 10px 5px;
        background-color: #292929;
    }
    .leftSidbar_footer{
        text-align: center;
        background-color: #292929;
        font-size: 15px;
        height: 5vh;
    }
}