@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.tasks_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 50px;
    span{
        @include standartText
    }
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #dfdede;
    border-radius: 5px;
    padding: 20px 50px;
    a{
        @include standartText ;
        text-decoration: none;
    }
    span{
        @include standartText
    }
}

@media screen and (max-width:600px){
    .tasks_title{
        .descriptionTitle{
            display: none;
        }
    }
    .task{
        .descriptionText{
            display: none;
        }
    }
}