@mixin standartText {
    font-size: 12px;
    font-weight: 500;
    color: black;
}
@mixin standartFadedText {
    font-size: 12px;
    font-weight: 500;
    color: rgba(126, 126, 126, 1);
}
@mixin standartMuchFadedText {
    font-size: 12px;
    font-weight: 500;
    color: #bfbfbf;
}

@mixin buttonFunction ($bColor:white,$color:black,$border:0,$borderRadius:0) {
    cursor: pointer;
    outline: none;
    background-color: $bColor;
    color:$color;
    border:$border;
    border-radius: $borderRadius;
}