$leftSidbarBackgroundColor:rgb(17, 17, 17);
$homeBackgroundColor:#FAFAFA;
$greenButtonBackgroundColor:rgba(152, 193, 74, 1);
$greenButtonHoverBackgroundColor:rgba(122, 169, 66, 1);
$muchFadedTextColor:#bfbfbf;
$fadedTextColor:rgba(126, 126, 126, 1);

$fadedLineColor:rgba(221, 221, 221, 1);

$deleteButtonBackgroundColor:#F34753;
$deleteButtonHoverBackgroundColor:#DE143F