@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.date{
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    width: 310px;
    height: 42px;   
    border:1px solid $muchFadedTextColor;
    border-radius: 5px;
    outline: none;
    position: relative;
    padding: 8px;
    span{
        @include standartFadedText;
        font-size: 14px;
    }
}
@media screen and (max-width:1400px){
    .date{
        height: 40px;
        width: 100%;
        margin-bottom: 15px;
    }
}