@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.task{
    padding: 15px 20px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.07);
    border-radius: 5px;
    margin-bottom: 30px;
    h4{
        margin-bottom: 5px;
    }
    p{
        word-break: break-all
    }   
    .task_deleteBtn{
        position: absolute;
        right: 20px;
        bottom: 15px;
        @include buttonFunction ($bColor:$deleteButtonBackgroundColor,$color:white,$border:0,$borderRadius:5px);
        padding: 5px 12px;
        transition: all .2s;

        &:hover{
            background-color: $deleteButtonHoverBackgroundColor;
        };
        &:disabled{
            cursor: not-allowed;
            background-color: #cccccc;
            color: #666666;
        }
    }
    .task_editBtn{
        position: absolute;
        top: 15px;
        right: 20px;
        @include buttonFunction ($bColor:$greenButtonBackgroundColor,$color:white,$border:0,$borderRadius:5px);
        padding: 5px 10px;
        transition: all .2s;
        &:hover{
            background-color: $greenButtonHoverBackgroundColor;
        }
        &:disabled{
            cursor: not-allowed;
            background-color: #cccccc;
            color: #666666;
        }
    }
}