@import '../../styles/variables';

.home{
    background-color: $homeBackgroundColor;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr  auto;
    grid-template-areas: "header"
                         "section"
                         "footer";
    .home_section{
        grid-area: section;
        padding: 0 20px;
    }
}