@import '../../styles/variables';

.home{
    background-color: $homeBackgroundColor;
    width: 100%;
    position: relative;
    .home_section{
        overflow:hidden;
        height: 800px;
        max-height: 80%;
    }
}