@import '../../styles/variables';
@import '../../styles/mixins';
.footer{
    border-top: 1px solid $fadedLineColor;
    background-color: white;
    grid-area: footer;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .comp{
        @include standartFadedText;
        font-size: 14px;
        margin-left: 20px;
    }
    .textDiv{
        display: flex;
        flex-direction: column;
        text-align: right;
        letter-spacing: 0.3px;
        p{
            @include standartText;
            font-size:13px
        }
        h6{
            margin-top: -18px;
            @include standartFadedText;
            font-size:13px
        }
    }
}